.env
venv/
__pycache__/
.DS_Store
faiss_index/
temp.pdf
temp_img.png
src/firebase_key.json
.env
.streamlit/
# Ignore Streamlit Secrets
src/.streamlit/secrets.toml

# Ignore Environment variables
.env
__pycache__/